# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp
*.swo
.DS_Store
Thumbs.db
cookies/

# large data files
*.db

# Environment files
.env
.venv/
*.env

# VS Code
.vscode/
*.code-workspace